{% extends 'base/mixins/formatted-md.html' %}

{% block content_category_url %}{% url 'koocook_core:recipe-all' %}{% endblock %}

{% block content_category %}Recipes{% endblock %}

{% block nav_pane %}
    <nav class="level recipe-portal">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-5">
        Recipe portal
      </p>
    </div>
  </div>

    <p class="level-item">{% if section == 'featured' %}<strong>{% else %}<a href="{% url 'koocook_core:recipe-all' %}">{% endif %}Featured{% if not section == 'featured' %}</a>{% else %}</strong>{% endif %}</p>
    <p class="level-item">{% if section == 'suggested' %}<strong>{% else %}<a href="{% url 'koocook_core:recipes:suggested' %}">{% endif %}Suggested{% if not section == 'suggested' %}</a>{% else %}</strong>{% endif %}</p>
    <p class="level-item">{% if section == 'search' %}<strong>{% else %}<a href="{% url 'koocook_core:search' %}">{% endif %}Search{% if not section == 'search' %}</a>{% else %}</strong>{% endif %}</p>
    <p class="level-item">{% if section == 'recipe-user' %}<strong>{% else %}<a href="{% url 'koocook_core:recipes:user' %}">{% endif %}Yours{% if not section == 'recipe-user' %}</a>{% else %}</strong>{% endif %}</p>
</nav>
{% endblock %}