
.search-bar {
  box-shadow: none;
  border-radius: 20em;
    max-width: 50vw;
}

.search-bar-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
    margin-top: 12px;
}

.date-posted {
    margin-right: 2ch;
    display: inline-block;
}

.fade-enter-active, .fade-leave-active {
  margin: 0;
  transition: opacity .4s ease;
}

.fade-enter, .fade-leave-to {
  margin: 0;
  opacity: 0;
}

.profile-pic-48 {
  align-items: center;
  display: flex;
  border-radius: 48px;
  width: 48px;
  height: 48px;
  background-color: antiquewhite;
  margin-right: 5px;
  margin-left: 5px;
  user-select: none;
  text-align: center;
}

.profile-initial-48 {
  font-size: 24px;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.search-bar-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 50vw;
}

.fade-enter-active, .fade-leave-active {
    margin: 0;
    transition: opacity .4s ease;
}

.fade-enter, .fade-leave-to {
    margin: 0;
    opacity: 0;
}

.has-margin-y {
    margin: 5em 0;
}

.has-max-width {
    max-width: 80vw;
}

.has-content-center {
    margin: 0 auto;
}

.navbar-themed {
  padding: 1rem 2rem;
}

.navbar-center {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    /* flex-direction: column; */
}

.is-disabled {
    pointer-events: none;
    opacity: .5;
}

.is-bg-cover-centered {
    background-size: cover;
    background-position: center;
}

.breadcrumb-nav {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
