{% extends 'base/content.html' %}
{% load static %}
{% load recipe_extras %}
{% block content_deps %}
<script src="{% static 'js/bundle.js' %}"></script>
{% endblock %}
{% block section_after_nav %}

{% endblock %}

{% block page_content %}
<div class="container">
  <h3 class="title is-3">
    Recipe Search Results <b-dropdown v-model="searchFilter" aria-role="list">
      <button class="button" type="button" slot="trigger">
        <template v-if="searchFilter == 'popular'">
          <span>Sort by&nbsp;&nbsp;<b-icon icon="star" size="is-small"></b-icon>&nbsp;Popularity</span>
        </template>
          <template v-else-if="searchFilter == 'name'">
          <span>Sort by&nbsp;&nbsp;<b-icon icon="book" size="is-small"></b-icon>&nbsp;Recipe name</span>
        </template>
        <template v-else>
          <span>Sort by&nbsp;&nbsp;<b-icon icon="calendar" size="is-small"></b-icon> Date published</span>
        </template>
        <b-icon icon="menu-down"></b-icon>
      </button>
      <b-dropdown-item value="popular" aria-role="listitem">
        <div class="media">
          <b-icon class="media-left" icon="star" size="is-small"></b-icon>
          <div class="media-content">
            <h3>Popularity</h3>
            <small>Popular recipes with high view count and rating are shown</small>
          </div>
        </div>
      </b-dropdown-item>

       <b-dropdown-item value="name" aria-role="listitem">
        <div class="media">
          <b-icon class="media-left" icon="book" size="is-small"></b-icon>
          <div class="media-content">
            <h3>Recipe name</h3>
            <small>Only show recipes with a similar name to search query</small>
          </div>
        </div>
      </b-dropdown-item>

      <b-dropdown-item value="date" aria-role="listitem">
        <div class="media">
          <b-icon class="media-left" icon="calendar" size="is-small"></b-icon>
          <div class="media-content">
            <h3>Date published</h3>
            <small>Latest recipes are shown first</small>
          </div>
        </div>
      </b-dropdown-item>
    </b-dropdown>
  </h3>
  <div class="columns is-multiline">
    {% for recipe in recipes %}
    <div class="column is-half">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{ recipe.image|first}}" alt="{{ recipe.name }}">
          </figure>
        </div>
        <div class="card-content">
          <star-rating :read-only="true" recipe-name="{{ recipe.name }}" :item-id="{{ recipe.id }}"
            :initial="{{ recipe.aggregate_rating.rating_value }}"></star-rating>
          {% if recipe.hot %}<p class="is-6 has-text-danger"><i class="fas fa-fire"></i> Trending</p>{% endif %}
          <h4 class="title is-4"><a href="{% url 'koocook_core:recipe' recipe.id %}">
              {{ recipe.name }}
            </a></h4>
          <p class="subtitle">
            by {{ recipe.author }}
          </p>
          <p class="subtitle has-text-grey is-6"><span class="date-posted"><b-icon icon="calendar" size="is-small"></b-icon>
              {{ recipe.date_published }}</span> <span class="date-posted"><b-icon icon="clock" size="is-small"></b-icon> Ready in:
              {{ recipe.total_time|timedel_to_words }}</span>
            <span class="date-posted"><b-icon icon="eye" size="is-small"></b-icon> {{ recipe.view_count }}
              view{{ recipe.view_count|pluralize }}</span></p>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="column">
      No results matching with your search.
    </div>
    {% endfor %}
  </div>
  {% if page_obj.has_other_pages %}
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">
      <b-icon icon="arrow-left-bold" size="is-small">
      </b-icon> Previous
    </a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">
      <b-icon icon="arrow-right-bold" size="is-small">
      </b-icon> Next
    </a>
    {% endif %}
    <ul class="pagination-list">
      {% for number in paginator.page_range %}
      {% if page_obj.number == number %}
      <li><a class="pagination-link is-current" aria-label="Page {{ number }}" aria-current="page">{{ number }}</a></li>
      {% else %}
      <li><a href="?page={{ number }}" class="pagination-link" aria-label="Go to page {{ number }}">{{ number }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</div>
<script>
  new Vue({
    el: '#app',
    data: {
      currentAuthorId: {{ current_author.id }},
    firstRun: true,
    searchFilter: '{{ search_filter }}',
    searchName: '',
    recipes: [ ]
        },
  watch: {
    searchFilter: function (val) {
      const url = new URL(location.href);
      if (url.searchParams.get('kw')) url.searchParams.set('kw', this.searchName);
      else url.searchParams.delete('kw');
      switch (val) {
          case 'popular':
               url.searchParams.set('popular', '1');
               break;
          case 'name':
              url.searchParams.set('name_asc', '1');
              url.searchParams.delete('popular');
              break;
          case 'date':
              url.searchParams.delete('name_asc');
              url.searchParams.delete('popular');
              break;
      }
      location.href = url.href;
    }
  }
      })
</script>
{% endblock %}