{% extends 'base/content.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %}Create a recipe{% endblock %}
{% block content_deps %}<script src="{% static 'js/components/ingredients.js' %}"></script>{% endblock %}
{% block section_after_nav %}<section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Create a recipe
          </h1>
        </div>
      </div>
    </section>{% endblock %}
{% block page_content %}
    <ingredient-chooser :ingredients="ingredients" :selectable-units="selectableUnits"></ingredient-chooser>
    <form method="post" novalidate action="{{ request.path }}">
    <input name="ingredients" type="hidden" :value="JSON.stringify(ingredients)">
    <div class="form-group field is-horizontal">
        <div class="field-label is-medium">
            <label class="label">{{ form.name.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field control"> {{ form.name|add_class:"input is-medium" }}
           </div>
         {% if form.name.errors %}
            {% for error in form.name.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
    </div>
    <div class="form-group field is-horizontal">
        <div class="field-label is-medium">
            <label class="label">{{ form.author.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field control"> {{ form.author|add_class:"input is-medium" }}
           </div>
         {% if form.author.errors %}
            {% for error in form.author.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
    </div>
      {% csrf_token %}
        {% for field in form.vanilla_fields %}
       <div class="form-group field is-horizontal">
       <div class="field-label is-normal">
        <label class="label">{{ field.label_tag }}</label>
       </div>
       <div class="field-body">
           <div class="field control"> {{ field|add_class:"input is-normal" }}
           </div>
         {% if field.errors %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
       </div>
      </div>
        {% endfor %}
    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button type="submit" class="button is-success">
              Create
            </button>
          </div>
        </div>
      </div>
    </div>
    </form>

     <script>
      new Vue({
        el: '#app',
        data: {
            searchName: '',
            ingredients: [],
            unitConversionFactor: CONVERSION_FACTORS,
            selectableUnits: CONVERSION_UNITS
        }
      })
  </script>
{% endblock %}
