{% extends 'base/recipes.html' %}
{% load recipe_extras %}
{% block section_after_nav %}<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Suggested recipes
      </h1>
        <h2 class="subtitle">

            {% for tag in tag_set %}

                        <div class="tags has-addons">
                        Preferred:
                            <span class="tag is-medium">{{ tag.name }}</span>
                            {% if tag.label %}
                                <span class="tag {{ tag.label.level|tag_level }} is-medium">
                                    {{ tag.label.name }}
                                </span>
                            {% endif %}
                        </div>
                {% endfor %}
            <a href="{% url 'koocook_core:recipe-create' %}"> <span class="buttons">
                <button class="button is-primary is-outlined is-small">New</button>
            </span>
                </a>
        </h2>

    </div>
  </div>
</section>{% endblock %}
{% block page_content %}
<div id="app" class="container">
  <b-modal :active.sync="showModal" has-modal-card trap-focus
                 aria-role="dialog"
                 aria-modal>
      <div class="modal-card">
          <header class="modal-card-head">
      <p class="modal-card-title">Delete {% templatetag openvariable %} currentRecipe.name {% templatetag closevariable %}</p>
    </header>
       <section class="modal-card-body">
            <p class="card-header-title">
                Do you really want to delete {% templatetag openvariable %} currentRecipe.name {% templatetag closevariable %}?
            </p>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                <button class="button is-danger" @click="confirmAction">Proceed</button>
                <button class="button" @click="showModal = false">Cancel</button>
            </div>
        </footer>
    </div>
  </b-modal>
<div class="columns is-2 is-multiline">
{% for recipe in object_list %}
    <div class="column is-half">
    <div class="card">
         <div class="card-image">
    <figure class="image is-2by1 is-bg-cover-centered" style="background-image: url({{ recipe.image }});">
{#      <img src="{{ recipe.image }}" alt="Recipe image">#}
    </figure>
  </div>
    <div class="card-content">
        <div class="media">
      <div class="media-content">
          <p class="title is-4"><a href="{% url 'koocook_core:recipe' recipe.id %}">{{ recipe.name }}</a>  {% for tag in recipe.tag_set.all %}

                        <div class="tags has-addons">
                            <span class="tag is-medium">{{ tag.name }}</span>
                            {% if tag.label %}
                                <span class="tag {{ tag.label.level|tag_level }} is-medium">
                                    {{ tag.label.name }}
                                </span>
                            {% endif %}
                        </div>
                {% endfor %}
              <span class="buttons is-inline-flex has-addons  is-small">
      <a href="{% url 'koocook_core:recipe-edit' recipe.id %}"><button class="button is-primary is-outlined is-small"><i class="fas fa-pencil-alt"></i> </button></a>
     <button class="button is-danger is-outlined is-small is-light" @click="showConfirmDeletion({{ recipe.id }})"><i class="fas fa-times"></i> </button>
        </span></p>

      </div>
    </div>
    </div>
    </div>
    </div>
{% empty %}
    <li>You have not contributed any recipe with KooCook</li>
{% endfor %}
</div>
</div>
     <script>
      new Vue({
        el: '#app',
        data: {
            showModal: false,
            currentRecipe: {
                name: ''
            },
          togglePopSearch: false,
          searchName: '',
          recipes: [
              {% for recipe in user_recipes %}
                  { id: {{ recipe.id }}, name: '{{ recipe.name }}' },
              {% endfor %}
          ]
        },
          methods: {
            showConfirmDeletion(id) {
                const obj = this.recipes.find(x => x.id === id);
                this.currentRecipe.name = obj.name;
                this.currentRecipe.id = obj.id;
                this.showModal = true;
            },
          async confirmAction() {
            const resp = await fetch(`/recipes/${this.currentRecipe.id}`, {method:"DELETE", credentials: 'include', headers: {'X-CSRFToken': getCookie('csrftoken')}});
            if (resp.ok) { this.showModal = false; location.reload(); }
          }
          },
        computed: {
          getRecipesByName() {
            return this.recipes.filter((item)=>{
              if (this.togglePopSearch) return item.hot;
              else return item.title.toLowerCase().includes(this.searchName.toLowerCase());
            })
          }
        }
      })
  </script>
{% endblock %}
