{% extends 'base/recipes.html' %}
{% load recipe_extras %}
{% load static %}
{% block page_title %}Suggested recipes{% endblock %}
{% block content_page_name %}Suggested recipes{% endblock %}
{% block hero_title %}Suggested recipes{% endblock %}
{% block hero_subtitle %} {% if tag_set %}Preferred: <div class="field is-grouped is-grouped-multiline">
            {% for tag in tag_set %}
                <div class="control">
                        <div class="tags has-addons are-small">
                            <span class="tag is-medium">{{ tag.name }}</span>
                            {% if tag.label %}
                                <span class="tag {{ tag.label.level|tag_level }} is-medium">
                                    {{ tag.label.name }}
                                </span>
                            {% endif %}
                        </div>
                </div>
                {% endfor %}
        </div>{% endif %}
       {% endblock %}
{% block page_content %}
<div id="app" class="container">
<div class="columns is-2 is-multiline">
{% for recipe in object_list %}
    <div class="column is-half">
    <div class="card">
         <div class="card-image">
    <figure class="image is-2by1 is-bg-cover-centered" style="background-image: url({{ recipe.image }});">
      <img src="{{ recipe.image|first }}" alt="Recipe image">
    </figure>
  </div>
    <div class="card-content">
        <div class="media">
      <div class="media-content">
          <p class="title is-4"><a href="{% url 'koocook_core:recipes:detail' recipe.id %}">{{ recipe.name }}</a>
          <p class="subtitle">
                    by {{ recipe.author }}
                </p>
      <star-rating :read-only="true" recipe-name="{{ recipe.name }}" :item-id="{{ recipe.id }}" :initial="{{ recipe.aggregate_rating.rating_value }}"></star-rating>
              {% for tag in recipe.tag_set.all %}

                        <div class="tags has-addons">
                            <span class="tag is-medium">{{ tag.name }}</span>
                            {% if tag.label %}
                                <span class="tag {{ tag.label.level|tag_level }} is-medium">
                                    {{ tag.label.name }}
                                </span>
                            {% endif %}
                        </div>
                {% endfor %}
       <p class="subtitle has-text-grey is-6"><span class="date-posted"><b-icon icon="calendar" size="is-small"></b-icon>
              {{ recipe.date_published }}</span> <span class="date-posted"><b-icon icon="clock" size="is-small"></b-icon> Ready in:
              {{ recipe.total_time|timedel_to_words }}</span>
            <span class="date-posted"><b-icon icon="eye" size="is-small"></b-icon> {{ recipe.view_count }}
              view{{ recipe.view_count|pluralize }}</span></p>

      </div>
    </div>
    </div>
    </div>
    </div>
{% empty %}
    <li>Nothing here yet. Come back later!</li>
{% endfor %}
</div>
{% if page_obj.has_other_pages %}
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">
      <b-icon icon="arrow-left-bold" size="is-small">
      </b-icon> Previous
    </a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">
      <b-icon icon="arrow-right-bold" size="is-small">
      </b-icon> Next
    </a>
    {% endif %}
    <ul class="pagination-list">
      {% for number in paginator.page_range %}
      {% if page_obj.number == number %}
      <li><a class="pagination-link is-current" aria-label="Page {{ number }}" aria-current="page">{{ number }}</a></li>
      {% else %}
      <li><a href="?page={{ number }}" class="pagination-link" aria-label="Go to page {{ number }}">{{ number }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</div>
    <script src="{% static 'js/bundle.js' %}"></script>
     <script>
      new Vue({
        el: '#app',
        data: {
            showModal: false,
            currentRecipe: {
                name: ''
            },
          togglePopSearch: false,
          searchName: '',
          recipes: [
              {% for recipe in user_recipes %}
                  { id: {{ recipe.id }}, name: '{{ recipe.name }}' },
              {% endfor %}
          ]
        },
          methods: {
            showConfirmDeletion(id) {
                const obj = this.recipes.find(x => x.id === id);
                this.currentRecipe.name = obj.name;
                this.currentRecipe.id = obj.id;
                this.showModal = true;
            },
          async confirmAction() {
            const resp = await fetch(`/recipes/${this.currentRecipe.id}`, {method:"DELETE", credentials: 'include', headers: {'X-CSRFToken': getCookie('csrftoken')}});
            if (resp.ok) { this.showModal = false; location.reload(); }
          }
          },
        computed: {
          getRecipesByName() {
            return this.recipes.filter((item)=>{
              if (this.togglePopSearch) return item.hot;
              else return item.title.toLowerCase().includes(this.searchName.toLowerCase());
            })
          }
        }
      })
  </script>
{% endblock %}
