{% extends 'base/recipes.html' %}
{% load static %}
{% load recipe_extras %}
{% block page_title %}Your recipes{% endblock %}
{% block content_page_name %}Your recipes{% endblock %}
{% block crud_deps %}<script src="{% static 'js/components/star-rating.js' %}"></script>{% endblock %}
{% block hero_title %}Your recipes{% endblock %}
{% block hero_subtitle %}<a href="{% url 'koocook_core:recipes:create' %}"> <span class="buttons">
                <button class="button is-primary is-outlined is-small">New</button>
            </span>
                </a>
{% endblock %}
{% block page_content %}
<div id="app" class="container">
  <b-modal :active.sync="showModal" has-modal-card trap-focus
                 aria-role="dialog"
                 aria-modal>
      <div class="modal-card">
          <header class="modal-card-head">
      <p class="modal-card-title">Delete {% templatetag openvariable %} currentRecipe.name {% templatetag closevariable %}</p>
    </header>
       <section class="modal-card-body">
            <p class="card-header-title">
                Do you really want to delete {% templatetag openvariable %} currentRecipe.name {% templatetag closevariable %}?
            </p>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                <button class="button is-danger" @click="confirmAction">Proceed</button>
                <button class="button" @click="showModal = false">Cancel</button>
            </div>
        </footer>
    </div>
  </b-modal>
<div class="columns is-2 is-multiline">
{% for recipe in user_recipes %}
    <div class="column is-half">
    <div class="card">
         <div class="card-image">
    <figure class="image is-2by1 is-bg-cover-centered">
      <img src="{{ recipe.image|first }}" alt="Recipe image">
    </figure>
  </div>
    <div class="card-content">
        <div class="media">
            <star-rating recipe-name="{{ recipe.name }}" :item-id="{{ recipe.id }}" :initial="{{ recipe.aggregate_rating.rating_value }}" :read-only="true"></star-rating>
      <div class="media-content">
          <p class="title is-4"><a href="{% url 'koocook_core:recipes:detail' recipe.id %}">{{ recipe.name }}</a> <span class="buttons is-inline-flex has-addons  is-small">
              <a href="{% url 'koocook_core:recipes:edit' recipe.id %}"><button class="button is-primary is-outlined is-small"><b-icon icon="pencil"></b-icon> </button></a>
     <button class="button is-danger is-outlined is-small is-light" @click="showConfirmDeletion({{ recipe.id }})"><b-icon icon="close"></b-icon> </button>
        </span></p>

      </div>
            <div class="media-bottom">
                 <p class="subtitle has-text-grey is-6"><span class="date-posted"><b-icon icon="calendar" size="is-small"></b-icon>
              {{ recipe.date_published }}</span> <span class="date-posted"><b-icon icon="clock" size="is-small"></b-icon> Ready in:
              {{ recipe.total_time|timedel_to_words }}</span>
            <span class="date-posted"><b-icon icon="eye" size="is-small"></b-icon> {{ recipe.view_count }}
              view{{ recipe.view_count|pluralize }}</span></p>
            </div>
    </div>
    </div>
    </div>
    </div>
{% empty %}
    <li>You have not contributed any recipe with KooCook</li>
{% endfor %}
</div>
{% if page_obj.has_other_pages %}
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">
      <b-icon icon="arrow-left-bold" size="is-small">
      </b-icon> Previous
    </a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">
      <b-icon icon="arrow-right-bold" size="is-small">
      </b-icon> Next
    </a>
    {% endif %}
    <ul class="pagination-list">
      {% for number in paginator.page_range %}
      {% if page_obj.number == number %}
      <li><a class="pagination-link is-current" aria-label="Page {{ number }}" aria-current="page">{{ number }}</a></li>
      {% else %}
      <li><a href="?page={{ number }}" class="pagination-link" aria-label="Go to page {{ number }}">{{ number }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</div>

{% endblock %}
{% block vue_init %}
    <script>
      new Vue({
        el: '#app',
        data: {
            showModal: false,
            currentRecipe: {
                name: ''
            },
          togglePopSearch: false,
          searchTerm: '',
          recipes: [
              {% for recipe in user_recipes %}
                  { id: {{ recipe.id }}, name: '{{ recipe.name }}' },
              {% endfor %}
          ]
        },
          methods: {
            showConfirmDeletion(id) {
                const obj = this.recipes.find(x => x.id === id);
                this.currentRecipe.name = obj.name;
                this.currentRecipe.id = obj.id;
                this.showModal = true;
            },
          async confirmAction() {
            const resp = await fetch(`/recipes/${this.currentRecipe.id}`, {method:"DELETE", credentials: 'include', headers: {'X-CSRFToken': getCookie('csrftoken')}});
            if (resp.ok) { this.showModal = false; location.reload(); }
          }
          },
        computed: {
          getRecipesByName() {
            return this.recipes.filter((item)=>{
              if (this.togglePopSearch) return item.hot;
              else return item.title.toLowerCase().includes(this.searchName.toLowerCase());
            })
          }
        }
      })
  </script>
{% endblock %}
